#container {
  padding: 15px 10px 20px 10px;
  border-top: 1px solid #c1c1c1;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: sans-serif;
  background-color: #F2F2F2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#seekContainer {
  height: 40px;
  margin-bottom: -25px;
  padding-top: 8px;
  cursor: pointer;
}

#seekBg {
  width: 100%;
  background-color: #c7c7c7;
  height: 4px;
  overflow: hidden;
}

#buttons {
  margin-bottom: -40px;
}

#seek {
  position: relative;
  z-index: 2;
  height: inherit;
  width: 0px;
  background-color: #e7891b;
  float: left;
}

#seeker {
  height: inherit;
  position: fixed;
  z-index: 1;
  left: 10px;
  background-color: #e8c8ab;
  display: none;
}

#seekStamp {
  background-color: #e7891b;
  color: white;
  position: absolute;
  display: none;
  font-size: 15px;
  margin-top: -8px;
  padding: 4px;
  border-radius: 5px;
  pointer-events: none;
}

p {
  font-size: 14px;
  color: gray;
}

button {
  color: #e7891b;
  padding-bottom: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 24px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#skipBackward {
  transform: scale(-1, 1);
}

#playBtn {
  display: none;
  font-size: 26px;
}

#pauseBtn {
  font-size: 26px;
}

#timer {
  float: left;
  color: #e7891b;
  margin: 10px 0 0;
  cursor: default;
}

#duration {
  float: right;
  margin: 10px 0 0;
  cursor: default;
}

#downArrow {
  display: none;
  pointer-events: none;
  position: absolute;
  clear: both;
  margin-top: 6px;
  color: #e7891b;
}

#knob {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  margin-top: -5px;
  z-index: 3;
  background-color: #fff;
  border: 2px solid #e7891b;
  transform: scale(0);
  transition: transform .1s cubic-bezier(.3,0,.7,1);
}
